html[dark], [dark] {   
--iron-icon-fill-color: var(--gray); 
--yt-button-color: var(--text) !Important;
--yt-button-icon-button-text-color: var(--text);
--yt-spec-badge-chip-background: var(--bg2);
--yt-spec-base-background: var(--bg0) !important;
	/* Navbar background */
--yt-spec-brand-background-primary: var(--bg0);
--yt-spec-brand-button-background : var(--r); 
	/* Clickable links / buttons */  
--yt-spec-call-to-action: var(--b) !Important;   
--yt-spec-general-background-a: var(--bg0);
--yt-spec-general-background-b: var(--bg1);
--yt-spec-general-background-c: var(--bg2);
--yt-spec-static-brand-white: var(--text) !important;
--yt-spec-text-primary: var(--text) !important;
--yt-spec-text-primary-inverse: var(--bg0) !important;
--yt-spec-text-secondary: var(--gray) !important;
--yt-spec-themed-blue: var(--b);
--yt-spec-10-percent-layer: var(--bg3) !important;
	/* In a pinned comment from the poster for example */  
--ytd-author-comment-badge-icon-color: var(--r);
	/* Nav bar search box */
--ytd-searchbox-background: var(--bg0) !Important;
--ytd-searchbox-border-color: var(--c) !Important;
--ytd-searchbox-legacy-border-color: var(--bg3) !Important;
--ytd-searchbox-legacy-border-shadow-color: transparent;
--ytd-searchbox-legacy-button-color: var(--bg0) !Important;
--ytd-searchbox-legacy-button-border-color: var(--bg3);
--ytd-searchbox-legacy-button-focus-color: var(--bg0) !Important;
--ytd-searchbox-legacy-button-hover-color: var(--bg0) !Important;
--ytd-searchbox-legacy-button-hover-border-color: var(--hl) !Important;
--ytd-searchbox-legacy-button-icon-color: var(--text) !Important;
--ytd-searchbox-text-color: var(--text) !Important;
} 

/* Youtube player overlay buttons */
button.ytp-button { background-color: #0000 !Important; }
button.ytp-button:hover { background-color: var(--bk50) !Important; }

/* Searchbar drop down */  
.gsfs { color: var(--text) !Important; }    
.sbpqs_a { color: var(--text) !Important; }
.sbsb_a,
.sbfl_b,
.sbsb_c.gsfs { background-color: var(--bg0);
	color: var(--text); }
.sbsb_i { background-color: var(--bg0);
	color: var(--b) !Important; } 	
.sbpqs_a:hover,
.sbsb_c.gsfs:hover { background-color: var(--bg2);
	color: var(--text) !Important; }
.sbdd_b { background: none;
    border: 1px solid var(--hl); }  
 
/* Homepage Filter Button Color Fix */
yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"][selected]:hover, yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"][selected]:hover, 
yt-chip-cloud-chip-renderer[chip-style="STYLE_DEFAULT"][selected]:focus, yt-chip-cloud-chip-renderer[chip-style="STYLE_HOME_FILTER"][selected]:focus {
  background-color: var(--bg1);
  color: var(--yt-spec-text-primary);
}    
yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT][selected], yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER][selected] {
    background-color: var(--bg1);
    color: var(--yt-spec-text-primary);
}
/* Icons Highlight On Hover */
yt-icon:hover {
    fill: var(--hl);

}
    
ytd-rich-grid-media[mini-mode] #video-title.ytd-rich-grid-media:hover {
    color: var(--y);
} 
    
/* Subscribe button uses text color by default, making a bad looking button, also gets rid of hover borders on buttons */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
    color: var(--bg0) !important;
    background-color: var(--hl50) !important;
}
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled:hover {
    color: var(--bg0) !important;
    background-color: var(--hl50) !important;
} 
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal:hover {
    color: var(--bg0) !important;
    background-color: var(--hl50) !important;
}   

.yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__fill {
	background-color: var(--r);
}
.yt-spec-touch-feedback-shape--touch-response .yt-spec-touch-feedback-shape__stroke {
	border: 1px solid var(--b);
}







        /* Style Changes */  

/* On a video page, the description has a "Show More" button, its text colored, small and hard to find quickly */
/* This section adds a colored background */
#expand.ytd-text-inline-expander,
#collapse.ytd-text-inline-expander {
    background-color: var(--hl);
    color: var(--bg0);
} 
    
/* add border around comments */   
    ytd-comment-thread-renderer {
        border: 1px solid var(--bg2);
}
        ytd-comment-thread-renderer:hover {
        border: 1px solid var(--bg3);
}
ytd-author-comment-badge-renderer {
    background-color: var(--bg3);
        color: var(--bg0) !important;
}
    #text.ytd-channel-name {
                color: var(--hl) !important;
}
    
  .yt-spec-button-shape-next--overlay.yt-spec-button-shape-next--text {
    color: var(--yt-spec-static-overlay-text-primary);
}     

  
    
.yt-spec-touch-feedback-shape {
    border: 1px solid var(--hl);
}


/* Expanded video information */
ytd-compact-video-renderer[music-metadata-video-lockup] a.ytd-compact-video-renderer {
    background-color: var(--bg1) !important;
}
#header {
	background-color: var(--bg2) !important;
}
