:root, .dark {
    --nsfw: var(--rl);
    --admin: var(--r);
    --accent: var(--hl);
    --green: var(--g);
    --text: var(--w);
    --foreground: var(--bg0);
    --background: var(--bg0);
    --outside: var(--bg0);
    --post: var(--bg1);
    --panel-border: 1px solid var(--border);
    --highlighted: var(--bg3);
    --visited: var(--bl);
    --shadow: none;
}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, select, input {
    accent-color: var(--c); }

.post_flair {
    background: var(--hl) !Important;
	color: var(--bg0) !Important; }
