/* Global ------ */
* {
/* 16 Color Set ------ */
--bk: #202020;
--r: #8C3432;
--g: #5E6C58;
--y: #B88932;
--b: #50727B;
--m: #7E6A83;
--c: #758e81;
--wt: #BAA67F;   
--bkl: #5D533F;
--rl: #9B4543;
--gl: #707F6A;
--yl: #C59845;
--bl: #617F87;
--ml: #8C7B90;
--cl: #879C92;
--wtl: #676767;
/* 16 Color Set @ 50% Opacity ------ */   
--bk50: #20202080;
--r50: #562A29;
--g50: #3F463C;
--y50: #6C5529;
--b50: #38494D;
--m50: #7E6A8380;
--c50: #758E7680;
--wt50: #67676780;   
--bkl50: #34343480;
--rl50: #9B454380;
--gl50: #707F6A80;
--yl50: #C5984580;
--bl50: #617F8780;
--ml50: #8C7B9080;
--cl50: #879C9280;
--wtl50: #BAA67F80;   
/* Background Colors ------ */
--bg0: #202020;
--bg1: #242424;
--bg2: #2c2c2c;
--bg3: #343434;
--bg4: #434343;
--gray: var(--bkl) !important;
--fg2: #988257;
--fg1: #a99369;
--fg0: #baa67f;  
/* Simple Variables ------ */
--border: var(--bg3) !important;
--hl: var(--y) !important;
--hl50: var(--y50) !important;
--text: var(--wt) !important;
}
