body {
    --bg_color: var(--bg0);
    --fg_color: var(--w);
    --fg_faded: var(--gray);
    --fg_dark: var(--y);
    --fg_nav: var(--hl);
    --bg_panel: var(--bg0);
    --bg_elements: var(--bg2);
    --bg_overlays: var(--bg0);
    --bg_hover: var(--bgs);
    --grey: var(--gray);
    --dark_grey: var(--bg4);
    --darker_grey: var(--bg2);
    --darkest_grey: var(--bg1);
    --border_grey: var(--bg2);
    --accent: var(--y);
    --accent_light: var(--y);
    --accent_dark: var(--hl);
    --accent_border: var(--bg2);
    --play_button: var(--r);
    --play_button_hover: var(--rl);
    --more_replies_dots: var(hl);
    --error_red: var(--r);
    --verified_blue: var(--b);   
    --icon_text: var(--w);
    --tab: var(--w);
    --tab_selected: var(--hl);
    --profile_stat: Var(--w);
    color: var(--w);
} 
/* Increase Max Page Width */   
.profile-tabs,
.conversation,
.timeline-container {
    max-width: 1500px;
    width: 1500px ; } 
