/* Global -------------------------------------------------- */
* {
    border-color: var(--border) !important;
    border-radius: 0px !important;
    border-width: 0px;
	box-shadow: none !important;
    scrollbar-color: var(--hl) var(--bg1) !important;
    }

/* Icons --------------------------------------------------- */
/* Re-map common broken font icons to NerdFonts */
.el-icon-d-arrow-right::before { content: "\f553"; }
.el-icon-more::before { content: "\f87a"; }
.ffz-i-comp-off::before { content: "\f86b"; }
.ffz-i-t-reset::before { content: "\ead2"; }
.icon-cog::before { content: '\f013'; }    
.icon-bird::before { content: '\f099'; } 
.icon-info::before { content: '\f128'; }    
.icon-rss-feed::before { content: '\f09e'; }    
.icon-search::before { content: '\f002'; }
.checkbox-container .checkbox::after
    { content: '\f42e'; bottom: -4px; }
/* Video Player */
.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder::before,
.vjs-icon-volume-mid::before
    { content: "\f027"; } /* Mid Volume */
.video-js .vjs-mute-control .vjs-icon-placeholder::before,
.vjs-icon-volume-high::before
    { content: "\f028"; } /* Max Volume */
.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder::before,
.vjs-icon-volume-low::before
    { content: "\f026"; } /* Min Volume */
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder::before,
.vjs-icon-volume-mute::before
    { content: "\fa80"; } /* Mute Volume */
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder::before,
.vjs-icon-pause::before,
.video-js .vjs-big-play-button .vjs-icon-placeholder::before,
.video-js .vjs-play-control .vjs-icon-placeholder::before,
.vjs-icon-play::before
    { content: "\e602"; } /* Play */
.video-js .vjs-big-play-button .vjs-icon-placeholder::before,
.video-js .vjs-play-control .vjs-icon-placeholder::before,
.vjs-icon-play::before
    { content: "\f8e3"; } /* Pause */
.video-js.brila-video-js .vjs-subs-caps-button .vjs-icon-placeholder::before
    { content: "\f65d"; } /* Closed Caption */
.video-js .vjs-fullscreen-control .vjs-icon-placeholder::before,
.vjs-icon-fullscreen-enter::before
    { content: "\f792"; } /* Fullscreen */
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder::before,
.vjs-icon-fullscreen-exit::before
    { content: "\f793"; } /* Un-Fullscreen */
/* SVG icons color */
#injection-order-button > svg,
.svg-icon, .svg-icon.info, .svg-icon.settings
	{ fill: var(--text); }
#add-style-as-usercss-wrapper:not(:hover) input:not(:checked) ~ a svg,
.newUI .entry .svg-icon, .newUI .disabled.entry .svg-icon, .newUI .entry .style-info[data-type=age],
.search[data-v-62eacfff] svg,
.user .chevron[data-v-62eacfff]
	{ fill: var(--gray); }
#injection-order-button:hover > svg,
.newUI .entry .svg-icon:hover,
.search[data-v-62eacfff] svg:hover,
.svg-icon:hover, .svg-icon.info:hover, .svg-icon.settings:hover,
.user .chevron[data-v-62eacfff]:hover
	{ fill: var(--hl); }

/* Text ---------------------------------------------------- */
/* Main Text Colors */
p, .m-page,
h1, h2, h3, h4, h5, h6,
body, html,
#header, .header, #mw-head,
#footer, .footer, #mw-footer,
#text,
#content h1, #content h2, #content h3, #content h4, #content h5,
#content table,
#content pre,
#content code,
#content tt,
#content, #pageContent,
#options,
.list-container,
.generaltable,
.path-grade-report-user .user-grade.generaltable .leveleven
    { color: var(--text) !important; }
/* Gray Elements */
.caption
    { color: var(--gray) !important; }
/* Misc text settings */
.results .flagged
    { color: var(--r); }
/* Links color */
a { color: var(--b); }
a:hover { color: var(--bl) !important; }
a:visited { color: var(--bl) !important; }

/* Main body of page --------------------------------------- */
#content, #pageContent, body, .m-page  {    
    background: var(--bg0) !important; }
#header, .header, #mw-head {
    background: var(--bg0); }
html {
    background: var(--bg0);
    }
#footer, .footer {
    background: var(--bg3);
    }
#options {
    background: var(--bg1);
    }
.list-container {
    background: var(--bg0);
    }
/* Setting Babkgrounds */
	/* Darker background */
#page-my-index,
#region-main-box #region-main,
body.skin-vector div.mw-page-container {
    background-color: var(--bg0); }
    /* Lighter background */
.list-group-item,
.catlinks,
#toc, .toc, .toccolours,
.mw-warning, div.reply,
#container-inner {
    background-color: var(--bg2); 
    border-color: var(--border); }

/* -- Background elements -- */
	/* Code blocks */
#content pre:not([class*="CodeMirror"]), #content code, #content tt {
	background-color: var(--bg2);
	color: var(--text); } 
	/* Cards / Background elements */
.card { background-color: var(--bg0);
	border-color: var(--border); }
div.box,
div.thumbinner,
.mw-parser-output .quotebox,
.infobox { background-color: var(--bg3) !important;
    border: 1px solid var(--border) !important;
    color: var(--text) !important; }
.infobox .infobox-header { background-color: var(--bg2) !important;
    border: 1px solid var(--border) !important;
    color: var(--gray) !important; }
	/* Side panels */
.sidebar-toc { background-color: var(--bg2); }
#nav-drawer { background-color: var(--bg0); }
#nav-drawer .list-group-item { background-color: var(--bg1);
    color: var(--text); }   
/* Navbar */
#archnavbar { background-color: var(--bg0) !important;
    border-bottom-color: var(--b) !important; }  
#archnavbar.anb-packages ul li#anb-packages a  { color: var(--bl) !important; }

/* -- UI elements -- */
	/* Buttons */
button { background-color: var(--bg0);
    background-image: none;
    color: var(--text) !important; }
button:hover { background-color: var(--bg0) !Important;
    background-image: none !Important;
    color: var(--hl) !important; }    
	/* Checkboxes */
.svg-icon.checked { fill: var(--hl); }
input[type="checkbox"] { background-color: var(--bg3) !important;
    color: var(--text) !important; }
input[type="checkbox"]:hover { background-color: var(--bg4) !important; }
input[type="checkbox"]:not(.slider) { border: 1px solid var(--border); }
input[type="checkbox"]:not(.slider):hover { border: 1px solid var(--hl) !Important; }
	/* Input area */
input { background-color: var(--bg0) !Important;
	color: var(--text) !important; }
input:hover {
	color: var(--hl) !important; }    
	/* Selection area */
select { background-color: var(--bg3);
    background-image: none !Important;
    color: var(--text) !important; }
select:hover { background-color: var(--bg2);
    color: var(--hl) !important; }

