/* Text */
strong
    { color: var(--y); }
#bingoPage #bingo #bingo-info,
#bingoPage #bingo #bingo-info:hover
    { color: var(--gray); }
/* Popout Header */
th
    { background: var(--b50); }

/* Bingo Legend */
#bingoPage #bingo tr td
    { background: var(--bg0); }
#bingoPage #bingo tr td:first-child:hover {
	background: var(--b50);
    color: var(--b)
    }
#bingoPage #bingo tr td:first-child,
#bingoPage #bingo tr:first-child td {
	background: var(--bg1);
	color: var(--b);
    }
#bingoPage #bingo tr td:first-child:hover,
#bingoPage #bingo tr:first-child td:hover {
	background: var(--b50);
    color: var(--b);
    }
/* Bingo Grid Squares */
td:hover,
#bingoPage #bingo tr td:hover,
#bingoPage #bingo tr td.hover{
	background: var(--b50);
	color: var(--text);
    }
.greensquare,
#bingoPage #bingo tr td.greensquare {
	background: var(--g50);
	color: var(--text);
    }
.greensquare:hover,
#bingoPage #bingo tr td.greensquare:hover,
#bingoPage #bingo tr td.greensquare.hover {
	background: var(--gl50);
	color: var(--text);
    }
.redsquare,
#bingoPage #bingo tr td.redsquare {
	background: var(--r50);
	color: var(--text);
    }
.redsquare:hover,
#bingoPage #bingo tr td.redsquare:hover,
#bingoPage #bingo tr td.redsquare.hover {
	background: var(--rl50);
	color: var(--text);
    }
/* Buttons */
.button,
#bingoPage .newcard, #bingoPage .option {
	background-color: var(--bg0);
	background-image: none;
    border-width: 1px;
	color: var(--text);
    }
.button:hover,
#bingoPage .newcard:hover, #bingoPage .option:hover {
	background-color: var(--b50);
	background-image: none;
	border-width: 1px;
	color: var(--text);
    }

