:root.theme-auto {
	--color-base-font: var(--hl);
	--color-base-font-rgb: va(--text);
	--color-base-background: var(--bg0);
	--color-base-background-mobile: var(--bg0);
	--color-url-font: var(--b);
	--color-url-visited-font: var(--bl);
	--color-header-background: var(--bg1);
	--color-header-border: var(--border);
	--color-footer-background: var(--bg6);
	--color-footer-border: var(--border);
	--color-sidebar-border: var(--border);
	--color-sidebar-font: var(--text);
	--color-sidebar-background: var(--bg1);
	--color-backtotop-font: var(--hl);
	--color-backtotop-border: var(--border);
	--color-backtotop-background: var(--bg2);
	--color-btn-background: var(--bg0);
	--color-btn-font: var(--bg0);
	--color-show-btn-background: var(--hl);
	--color-show-btn-font: var(--text);
	--color-search-border: var(--border);
	--color-search-shadow: 0 2px 8px rgba(32, 32, 32, 0.25);
	--color-search-background: var(--bg0);
	--color-search-font: var(--text);
	--color-search-background-hover: var(--bg1);
	--color-error: var(--r);
	--color-error-background: var(--bg2);
	--color-warning: var(--y);
	--color-warning-background: var(--bg2);
	--color-success: var(--g);
	--color-success-background: var(--bg2);
	--color-categories-item-selected-font: var(--b);
	--color-categories-item-border-selected: var(--b);
	--color-autocomplete-font: var(--text);
	--color-autocomplete-border: var(--border);
	--color-autocomplete-shadow: 0 2px 8px rgba(32, 32, 32, 0.25);
	--color-autocomplete-background: var(--bg0);
	--color-autocomplete-background-hover: var(--bg1);
	--color-answer-font: var(--text);
	--color-answer-background: var(--r);
	--color-result-background: var(--bg1);
	--color-result-border: var(--b);
	--color-result-url-font: var(--b);
	--color-result-vim-selected: var(--bg1);
	--color-result-vim-arrow: var(--b);
	--color-result-description-highlight-font: var(--r);
	--color-result-link-font: var(--b);
	--color-result-link-font-highlight: var(--bl);
	--color-result-link-visited-font: var(--bl);
	--color-result-publishdate-font: var(--gray);
	--color-result-engines-font: var(--gray);
	--color-result-search-url-border: var(--border);
	--color-result-search-url-font: var(--text);
	--color-result-detail-font: var(--text);
	--color-result-detail-label-font: var(--gray);
	--color-result-detail-background: var(--bg0);
	--color-result-detail-hr: var(--gray);
	--color-result-detail-link: var(--b);
	--color-result-detail-loader-border: var(--border);
	--color-result-detail-loader-borderleft: rgba(0, 0, 0, 0);
	--color-result-image-span-font: var(--text);
	--color-result-image-span-font-selected: var(--bg0);
	--color-result-image-background: var(--bg0);
	--color-settings-tr-hover: var(--bg1);
	--color-settings-engine-description-font: var(--gray);
	--color-settings-engine-group-background: var(--bg0);
	--color-toolkit-badge-font: var(--text);
	--color-toolkit-badge-background: var(--bg3);
	--color-toolkit-kbd-font: var(--bg0);
	--color-toolkit-kbd-background: var(--text);
	--color-toolkit-dialog-border: var(--border);
	--color-toolkit-dialog-background: var(--bg0);
	--color-toolkit-tabs-label-border: var(--bg0);
	--color-toolkit-tabs-section-border: var(--border);
	--color-toolkit-select-background: var(--bg1);
	--color-toolkit-select-border: var(--border);
	--color-toolkit-select-background-hover: var(--bg2);
	--color-toolkit-input-text-font: var(--text);
	--color-toolkit-checkbox-onoff-off-background: var(--bg1);
	--color-toolkit-checkbox-onoff-on-background: var(--bg1);
	--color-toolkit-checkbox-onoff-on-mark-background: var(--b);
	--color-toolkit-checkbox-onoff-on-mark-color: var(--bg0);
	--color-toolkit-checkbox-onoff-off-mark-background: var(--text);
	--color-toolkit-checkbox-onoff-off-mark-color: var(--bg0);
	--color-toolkit-checkbox-label-background: var(--bg0);
	--color-toolkit-checkbox-label-border: var(--border);
	--color-toolkit-checkbox-input-border: var(--b);
	--color-toolkit-engine-tooltip-border: var(--border);
	--color-toolkit-engine-tooltip-background: var(--bg0);
	--color-toolkit-loader-border: var(--border);
	--color-toolkit-loader-borderleft: rgba(0, 0, 0, 0);
	--color-doc-code: var(--text);
	--color-doc-code-background: var(--bg1);
}
/* Border shows on hover, disabling it */
#send_search:hover,
#clear_search {
	border-width: 0px !Important; }
